html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	padding: 20px 80px 20px 80px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background: #8BC34A;
	height: 125px;
}

#header-text > h1 {
	color: #fff;
	line-height: 125px;
	font-size: 28pt;
	text-align: center;
}

.categories {
}

.category-wrapper {
	padding: 0px 160px 0px 160px;
	height: 40px;
	text-align: center;
}

.category-wrapper > div {
	display: inline-block;
}

.category {
	background: #CCFF90;
	height: 40px;
	text-align: center;
	width: 160px;
}

.category > span {
	color: #689F38;
	line-height: 40px;
}

.active {
	border: 2px solid #CCFF90;
	height: 38px;
	text-align: center;
	width: 160px;
}

.active > span {
	color: #689F38;
	line-height: 38px;
}

h1 {
	font-size: 24pt;
}

.space {
	padding: 10px 10px 10px 10px;
}

.portfolio-wrapper {
	text-align: center;
}

.portfolio-wrapper > div {
	display: inline-block;
}

.portfolio {
	padding: 20px;
	width: 200px;
	overflow: hidden;
}

.portfolio > h4 {
	color: #000;
	font-weight: bold;
	padding: 5px;
}

.portfolio > span {
	color: #000;
	font-weight: normal;
	font-size: 10pt;
	font-family: "Courier New", Courier, monospace;
	padding: 5px;
}